@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: Lato;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.heading{
  color: var(--Brand-colors-Primary-Color-1, #330F4B);
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}

.stat-nav{
  color: #6C757D;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
}
.stats-container{

  .stat-nav{
    border-bottom: 1px solid #EAEAEA;
    height: 35px;
    .stat-nav-item{
      text-align: center;
      cursor: pointer;
      min-width: 90px;
      &.underlined{
        border-bottom: 2px solid #4F4983;
      }
    }
  }
  .stat-1,.stat-2{
    display: flex;
    padding: 26px 0px;
    /* height: 153px; */
    justify-content: center;
    align-items: center;
    border-radius: 7.885px;
    background: #F8FAFC;
    box-shadow: 0px 0.789px 2.366px 0px rgba(13, 10, 44, 0.16);
    .stat-items{
      align-items: center;
      gap: 10px;
      width: 200px;
      .stat-number{
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 34.518px;
      }
      .stat-name{
        color: #58595A;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21.574px;
          /* 154.099% */
      }
    }
  }
}